<header>
    <a class="brand">swisscom</a>
</header>

<main>
    <div class="row">
        <div class="col-sm-9 column-content">
            <div class="row">
                <div class="col-sm-6">
                    <div id="live-stream-video"
                         mi24-video-player
                         config-type="vmpro"
                         flash-path="//e.video-cdn.net/v2/"
                         video-id="6YFXcBHT227SrUeoNCeFiK"
                         player-id="6YFXcBHT227SrUeoNCeFiK"
                         api-url="//private-b1f38-elfriede.apiary-mock.com"></div>
                </div>
                <div class="col-sm-6">

                    <img class="img-responsive"
                         src="http://img1.auto-motor-und-sport.de/Mercedes-SLS-AMG-Black-Series-Frontansicht-Kurvenfahrt-articleTitle-9095988c-743214.jpg">
                </div>
            </div>
        </div>
        <div class="col-sm-3 column-chat">

        </div>
    </div>
</main>
